@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

@import "/node_modules/bootstrap-icons/font/bootstrap-icons.scss";

body {
    background-color: rgb(224, 224, 224);
}

@include color-mode(dark) {
    body {
        background-color: rgb(40, 40, 40);
    }
  }

.spinner {
    background: rgba(75, 66, 66, 0.8); 
    top: 0; 
    left: 0; 
    z-index: 1050;
}